body {
  padding-top: 45px;
}
.home-top {
  padding:40px 30px 200px 30px;
  margin:0px auto;
  background: #6c6c6e ;
  color: #141418;
  background-image: url(https://image.freepik.com/free-vector/hand-drawn-vegetables-collection_125540-1087.jpg);
  background-size: auto;
}

.jumbotron {
  padding:40px 30px 40px 30px;
  margin:0px auto;
  background: #64676e ;
  color:floralwhite;
}